extends ./index.jade

block title
   | #{first_name} #{last_name}

block content
   .row
       .col-xs-4
           p: img.img-responsive.img-rounded(src=user_pic)
           p.btn-group.btn-block
                button.btn.btn-default.btn-lg(style="width:50%;" type="button") Message
                button.btn.btn-primary.btn-lg(style="width:50%;" type="button") Pair
           h3 Skills
           ul.skills
               - for(var skill in skills)
                li #{skill}
                   span.badge.pull-right #{skills[skill]}
           h3 Workflow
           ul.workflow
               - for(var flow in workflow)
                li #{flow}: #{workflow[flow]}
       .col-xs-8
           h1 #{first_name} #{last_name}

           .panel.panel-default
               .panel-heading Interests
               .panel-body
                  p #{interests}
           .panel.panel-default
               .panel-heading Hours Available
               .panel-body
                   table.hours
                        tr
                            th.dow
                            - for (var y = 0; y < 24; y++)
                                if (y%3==0)
                                    th.cell(colspan="3" class= (y%3==0)?"cell-mark":"")
                                        | #{y}:00
                        - for (day of ['Su', 'M', 'T', 'W', 'Th', 'F', 'Sa'])
                            tr
                               td.dow #{day}
                               - for (var hour = 0; hour < 24; hour++)
                                 - var cl = ""
                                 - if(hours[day] && hours[day].indexOf(hour) >= 0) {cl = 'uavail'}
                                 td.cell(class= (hour%3==0)?"cell-mark":"" class= cl)

           .panel.panel-primary
               .panel-heading Contact Info
               .panel-body
                   ul
                      if contact.twitter
                        li Twitter: 
                            a(href="//twitter.com/#{contact.twitter}")
                                | #{contact.twitter}
                      if contact.facebook
                        li  Facebook: 
                            a(href="//facebook.com/#{contact.facebook}")
                                | facebook.com/#{contact.facebook}
                      if contact.linkedin
                        li  Linkedin: 
                            a(href="//linkedin.com/in/#{contact.linkedin}")
                                | linkedin.com/in/#{contact.linkedin}
                      if contact.homepage
                        li  Homepage: 
                            a(href="#{contact.homepage}")   #{contact.homepage}

   script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
   script(src="/schedule.js")

                    
